*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.navbar-header{
    display: flex;
    justify-content: center;
    align-items: center;
}
.navbar-header li{
    list-style: none;
    padding:  0 10px;
}

.navbar-header a{
    text-decoration: none;
    color: white;
    font-size: 17px;
}
.dang-chieu,.sap-chieu:hover{
  cursor: pointer;
}
.nav-tab-bg{
  background: rgb(237,238,241);
background: radial-gradient(circle, rgba(237,238,241,1) 0%, rgba(178,222,246,1) 100%);
}
.buy-btn{
  background: rgb(205,83,43);
background: linear-gradient(90deg, rgba(205,83,43,1) 0%, rgba(210,51,83,1) 100%);
}
.form-header {
    --input-bg: #FFf;
   /*  background of input */
    --padding: 1.5em;
    --rotate: 80deg;
   /*  rotation degree of input*/
    --gap: 2em;
    /*  gap of items in input */
    --icon-change-color: #cc172c;
   /*  when rotating changed icon color */
    --height: 40px;
   /*  height */
    width: 200px;
    padding-inline-end: 1em;
   /*  change this for padding in the end of input */
    background: var(--input-bg);
    position: relative;
    border-radius: 4px;
  }
  
  .form-header label {
    display: flex;
    align-items: center;
    width: 100%;
    height: var(--height);
  }
  
  .form-header input {
    width: 100%;
    padding-inline-start: calc(var(--padding) + var(--gap));
    outline: none;
    background: none;
    border: 0;
  }
  /* style for both icons -- search,close */
  .form-header svg {
    /* display: block; */
    color: #111;
    transition: 0.3s cubic-bezier(.4,0,.2,1);
    position: absolute;
    height: 15px;
  }
  /* search icon */
  /* .icon {
    position: absolute;
    left: var(--padding);
    transition: 0.3s cubic-bezier(.4,0,.2,1);
    display: flex;
    justify-content: center;
    align-items: center;
  } */
  /* arrow-icon*/
  .swap-off {
    transform: rotate(-80deg);
    opacity: 0;
    visibility: hidden;
  }
  /* close button */
  .close-btn {
    /* removing default bg of button */
    background: none;
    border: none;
    right: calc(var(--padding) - var(--gap));
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #111;
    padding: 0.1em;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    transition: 0.3s;
    opacity: 0;
    transform: scale(0);
    visibility: hidden;
  }
  
  .form-header input:focus ~ .icon {
    transform: rotate(var(--rotate)) scale(1.3);
  }
  
  .form-header input:focus ~ .icon .swap-off {
    opacity: 1;
    transform: rotate(-80deg);
    visibility: visible;
    color: var(--icon-change-color);
  }
  
  
  .form-header input:focus ~ .icon .swap-on {
    opacity: 0;
    visibility: visible;
  }
  
  .form-header input:valid ~ .icon {
    transform: scale(1.3) rotate(var(--rotate))
  }
  
  .form-header input:valid ~ .icon .swap-off {
    opacity: 1;
    visibility: visible;
    color: var(--icon-change-color);
  }
  
  .form-header input:valid ~ .icon .swap-on {
    opacity: 0;
    visibility: visible;
  }
  .xs{
    cursor: pointer;
  }
  
  .form-header input:valid ~ .close-btn {
    opacity: 1;
    visibility: visible;
    transform: scale(1);
    transition: 0s;
  }
  #slide-web li{
    list-style: none;
    height: 12px;
    width: 12px;
    border-radius:50% ;
    margin: 8px; 
}
ul {
  list-style-type: none;
  padding: 0;
}

li {
  position: relative;
  padding: 10px 20px;
  text-align: center;
  cursor: pointer;
  transition: 0.3s;
}

.nav >ul >li> a::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: 0;
  width: 0;
  height: 2px;
  background-color: #f8f8f8;
  transition: width 0.3s ease-in-out;
  transform: translateX(-50%);
}

.nav >ul >li:hover >a::after  {
  width: 83%;
}
.buy-btn1 {
  text-decoration: none;
  position: relative;
  border: none;
  font-size: 14px;
  font-family: inherit;
  color: #fff;
  width: 9em;
  height: 3em;
  line-height: 2em;
  text-align: center;
  background: linear-gradient(90deg,#03a9f4,#f441a5,#ffeb3b,#03a9f4);
  background-size: 300%;
  border-radius: 30px;
  z-index: 1;
}

.buy-btn1:hover {
  animation: ani 8s linear infinite;
  border: none;
}

@keyframes ani {
  0% {
    background-position: 0%;
  }

  100% {
    background-position: 400%;
  }
}

.buy-btn1:before {
  content: '';
  position: absolute;
  top: -5px;
  left: -5px;
  right: -5px;
  bottom: -5px;
  z-index: -1;
  background: linear-gradient(90deg,#03a9f4,#f441a5,#ffeb3b,#03a9f4);
  background-size: 400%;
  border-radius: 35px;
  transition: 1s;
}

.buy-btn1:hover::before {
  filter: blur(20px);
  
}

.buy-btn1:active {
  background: linear-gradient(32deg,#03a9f4,#f441a5,#ffeb3b,#03a9f4);
}
.footer-icon{
  font-size: 2rem;
  margin: 0.5rem;
}








/* thoi gian */



/* * {
  box-sizing: border-box;
} */

body {
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.3;
}

#wrapper {
  min-height: 100vh;
}

button.btn-open {
  background: rgb(35, 89, 237);
  color: #fff;
  border: none;
  padding: 5px 15px;
  cursor: pointer;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.5);
}

#modal-containers {
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  position: fixed;
  opacity: 0;
  pointer-events: none;
  transition: all 0.25s ease-in-out;
}

#modal-container.show {
  opacity: 1;
  pointer-events: all;
  display: block;
}

#modal {
  background: #fff;
  max-width: 1000px;
  min-width: none;
  height: 510px;
  min-height: none;
  position: relative;
  top: 0px;
  left: 50%;
  transform: translateX(-50%);
  transition: all 0.25s ease-in-out;
  border-radius: 20px;

}

#modal-container.show #modal {
  top: 100px;
  transition: all 0.25s ease-in-out;
}

.modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 20px;
  border-bottom: 1px solid #dedede;
}

.modal-header h3 {
  margin: 0;
  font-size: 23px;
  color: #333333;
}

button#btn-close {
  outline: none;
  border: none;
  background: none;
  font-size: 22px;
  cursor: pointer;
  color: gray;
}

.modal-body {
  padding: 15px 20px 15px;
}

.modal-body h1 {
  text-align: center;
  font-size: 33px;
  color: #333333;
  padding: 10px;
}


#modal-dialog-container {
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0px;
  left: 0px;
  opacity: 0;
  pointer-events: none;
  display: none;
  transition: all 0.25s ease-in-out;
}

#modal-dialog-container.show-modal {
  opacity: 1;
  pointer-events: all;
  display: block;
}

#modal2 {
  background: #fff;
  max-width: 700px;
  min-width: none;
  height: 458px;
  min-height: none;
  position: relative;
  top: 0px;
  left: 50%;
  transform: translateX(-50%);
  transition: all 0.25s ease-in-out;
}

#modal-dialog-container.show-modal #modal2 {
  top: 100px;
  transition: all 0.25s ease-in-out;
}

.modal-dialog-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 20px;
  border-bottom: 1px solid #dedede;
}

.modal-dialog-header h3 {
  margin: 0;
}

button#btn-closed {
  outline: none;
  border: none;
  background: none;
  font-size: 35px;
  cursor: pointer;
}

.modal-dialog-body {
  padding: 15px 20px 15px;
}

.modal-dialog-footer {
  text-align: center;
}

#datve {
  background-color: rgb(35, 89, 237);
  color: #fff;
  border: none;
  padding: 12px 30px;
  cursor: pointer;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.5);
  border-radius: 15px;
  display: block;
  margin: 0 auto;

}

.modal-footer {
  text-align: center;
  padding: 20px;
}

a.nav-link span {
  color: #000000;
  font-size: 38px;
}

a.nav-link {
  color: #000000;
  font-size: 18px;
}


span.font-lg {
  font-size: 18px;
  color: #333333;
  font-weight: bold;
  text-transform: uppercase;
  font-family: Arial, Helvetica, sans-serif;
}

a.btn.default {
  background-color: rgb(237, 230, 230);
}

ul.nav {
  padding: 20px;
}

div.col-lg-2 {
  padding: 10px;
}

div.modal-dialog-header h3 {
  font-size: 23px;
}

div.modal-dialog-body {
  color: rgb(16, 94, 184);
}

#modal-dialog-container.show-modal #modal2 {
  top: 125px;

}

div.modal-dialog-body {
  padding: 30px 20px;

}

div.modal-dialog-body h3,
h4 {
  padding: 8px;
}

div.modal-dialog-body h3 {
  font-size: 23px;
  font-weight: bold;
}

div.modal-dialog-body h4 {
  font-size: 17px;
}

div.modal-dialog-footer {
  padding: 30px;
}
.dat-ve{
    display: none;
}
.container-1 {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /* display: none; */
  z-index: 9999;
  /* background-color: rgba(0, 0, 0, 0.5); */
}
.container-1.open{
  display: flex;
}
.show-time.open{
  display: flex;
}
.show-time{
  display: none;
}
.time:focus {
 outline: 2px solid blue;
}
.dat-ve.open1{
    display: flex;
}
