*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  .navbar-header{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .navbar-header li{
    list-style: none;
    padding:  0 10px;
  }
  
  .navbar-header a{
    text-decoration: none;
    color: white;
    font-size: 17px;
  }
  .dang-chieu,.sap-chieu:hover{
  cursor: pointer;
  }
  .nav-tab-bg{
  background: rgb(237,238,241);
  background: radial-gradient(circle, rgba(237,238,241,1) 0%, rgba(178,222,246,1) 100%);
  }
  .buy-btn{
  background: rgb(205,83,43);
  background: linear-gradient(90deg, rgba(205,83,43,1) 0%, rgba(210,51,83,1) 100%);
  }
  .form-header {
    --input-bg: #FFf;
   /*  background of input */
    --padding: 1.5em;
    --rotate: 80deg;
   /*  rotation degree of input*/
    --gap: 2em;
    /*  gap of items in input */
    --icon-change-color: #cc172c;
   /*  when rotating changed icon color */
    --height: 40px;
   /*  height */
    width: 200px;
    padding-inline-end: 1em;
   /*  change this for padding in the end of input */
    background: var(--input-bg);
    position: relative;
    border-radius: 4px;
  }
  
  .form-header label {
    display: flex;
    align-items: center;
    width: 100%;
    height: var(--height);
  }
  
  .form-header input {
    width: 100%;
    padding-inline-start: calc(var(--padding) + var(--gap));
    outline: none;
    background: none;
    border: 0;
  }
  /* style for both icons -- search,close */
  .form-header svg {
    /* display: block; */
    color: #111;
    transition: 0.3s cubic-bezier(.4,0,.2,1);
    position: absolute;
    height: 15px;
  }
  /* search icon */
  .icon {
    position: absolute;
    left: var(--padding);
    transition: 0.3s cubic-bezier(.4,0,.2,1);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  /* arrow-icon*/
  .swap-off {
    transform: rotate(-80deg);
    opacity: 0;
    visibility: hidden;
  }
  /* close button */
  .close-btn {
    /* removing default bg of button */
    background: none;
    border: none;
    right: calc(var(--padding) - var(--gap));
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #111;
    padding: 0.1em;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    transition: 0.3s;
    opacity: 0;
    transform: scale(0);
    visibility: hidden;
  }
  
  .form-header input:focus ~ .icon {
    transform: rotate(var(--rotate)) scale(1.3);
  }
  
  .form-header input:focus ~ .icon .swap-off {
    opacity: 1;
    transform: rotate(-80deg);
    visibility: visible;
    color: var(--icon-change-color);
  }
  
  .form-header input:focus ~ .icon .swap-on {
    opacity: 0;
    visibility: visible;
  }
  
  .form-header input:valid ~ .icon {
    transform: scale(1.3) rotate(var(--rotate))
  }
  
  .form-header input:valid ~ .icon .swap-off {
    opacity: 1;
    visibility: visible;
    color: var(--icon-change-color);
  }
  
  .form-header input:valid ~ .icon .swap-on {
    opacity: 0;
    visibility: visible;
  }
  
  .form-header input:valid ~ .close-btn {
    opacity: 1;
    visibility: visible;
    transform: scale(1);
    transition: 0s;
  }
  #slide-web li{
    list-style: none;
    height: 12px;
    width: 12px;
    border-radius:50% ;
    margin: 8px; 
  }
  .nav ul {
  list-style-type: none;
  padding: 0;
  }
  
  li {
  position: relative;
  padding: 10px 20px;
  text-align: center;
  cursor: pointer;
  
  }
  .nav >ul >li> a{
  transition: 0.3s;
  }
  .location-list{
  position: absolute;
  width: 160px;
  margin-top: 8px;
   transition: 0.5s;
   box-shadow: 3px 3px rgb(29, 29, 193);
   display: none;
  }
  .location-list .location-cinema{
  position: absolute;
  width: 200px;
  margin-left: 123px;
  margin-top: -30px;
  }
  .location-cinema1{
    opacity: 0;
    box-shadow: 3px 3px rgb(192, 17, 46);
  }
  .location-list >li:hover>.location-cinema1{
    opacity: 1;
    transform: translateX(22px); 
    transition: opacity 1s, transform 0.3s; 
  }
  .location-cinema1 >li:hover{
    background-color: antiquewhite;
  }
  .nav-location:hover .location-list{
    display: block;
  }
  .nav-location:hover .location-list{
  display: block;
  transform: translateY(0)
  }
  .nav >ul >li> a::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: 0;
  width: 0;
  height: 2px;
  background-color: #f8f8f8;
  transition: width 0.3s ease-in-out;
  transform: translateX(-50%);
  }
  
  .nav >ul >li:hover >a::after  {
  width: 83%;
  }
  .cusor a{
    cursor: pointer;
  }
  
  .footer-icon{
  font-size: 2rem;
  margin: 0.5rem;
  }
  .film-info{
      background-image:  linear-gradient(to top, rgba(0,0,0,0.7) 0%, rgba(0,0,0,0.7) 100%) ,url('./images/img-bg.jpg') ;
      background-repeat: no-repeat;
      background-size: cover;
  }
  .ip-focus:focus{
    outline: none;
  }





/* css film */




  * {
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.3;
}

.wrapper {
    min-height: 100vh;
}


.modal-content {
    height: 100%;
}

#modal-container {
    height: 100vh;
    background: rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
#modal {
    background: #fff;
    width: 1000px;
    height: 510px;
}

.modal-header {
    background-color: #f7f8fa;
    color: #333333;
    text-align: center;
    border-bottom: 1px solid rgb(212, 205, 205);
    ;
    padding: 15px 20px;
    position: relative;

}

.modal-header h3 {
    font-size: 24px;
    margin: 0;
    font-weight: 600;
}

button.btn-close1 {
    outline: none;
    border: none;
    background: none;
    font-size: 23px;
    cursor: pointer;
    color: gray;
    position: absolute;
    top: 10px;
    right: 10px;
}

.nav-tabs .nav-link {
    color: #333333;
    font-weight: 450;
}

.modal-body {
    max-height: 80%;
    overflow-y: auto;
    padding: 20px;
}

.modal-footer {
    border-top: 1px solid rgb(212, 205, 205);
    text-align: center;
    padding: 15px 15px;
}

.modal-body h1 {
    text-align: center;
    font-size: 33px;
    color: #333333;
    padding: 15px;
}

.modal-footer button.btn-secondary {
    background-color: #616363;
    color: #fff;
    border: none;
}

a:focus {
    outline: 2px solid blue;
}

a.btn.default {
    background-color: #9e9d9d7e;
    border-radius: 5px;
    font-size: 14px;
}

div.font-smaller {
    font-size: 11px;
}

a.nav-link span {
    font-size: 30px;
    font-weight: 450;
}

.tab-content {
    padding: 20px;
    height: 80%;
}

span.font-lg {
    font-size: 18px;
    color: #333333;
    font-weight: bold;
    text-transform: uppercase;
    font-family: Arial, Helvetica, sans-serif;
}
.nav.nav-tabs {
    padding-left: 25px;
}
.wrapper.open{
    display: flex;
}
.wrapper{
    display: none;
}
.show-time.open {
    display: flex;
}
.show-time {
    display: none;
}
@keyframes modalbuys{
    from{
        opacity: 0;
        transform: translateY(-120px);
    }to{
        opacity: 1;
        transform: translateY(0);
    }
}
.modal-container-k{
    animation: modalbuys ease 0.3s;
}
#modal-dialog-container {
width: 100%;
height: 100vh;
background: rgba(0, 0, 0, 0.5);
position: fixed;
top: 0px;
left: 0px;
opacity: 0;
pointer-events: none;
transition: all 0.25s ease-in-out;
}
#modal-dialog-container.show-modal {
opacity: 1;
pointer-events: all;
display: block;
}

#modal2 {
background: #fff;
max-width: 700px;
min-width: none;
height: 458px;
min-height: none;
position: relative;
top: 0px;
left: 50%;
transform: translateX(-50%);
transition: all 0.25s ease-in-out;
}

#modal-dialog-container.show-modal #modal2 {
    top: 165px;
}

#modal-dialog-container.show-modal #modal2 {
  margin-top: 40px;
transition: all 0.25s ease-in-out;
}
.modal-dialog-header {
display: flex;
justify-content: space-between;
align-items: center;
padding: 15px 20px;
border-bottom: 1px solid #dedede;
}

.modal-dialog-header h3 {
margin: 0;
}
li.nav-item{
  position: relative;
  padding: 0;
  text-align: center;
  cursor: pointer;
}

button#btn-closed {
outline: none;
border: none;
background: none;
font-size: 25px;
cursor: pointer;
}

.modal-dialog-body {
padding: 15px 20px 15px;
}

.modal-dialog-footer {
text-align: center;
}

#datve {
background-color: rgb(35, 89, 237);
color: #fff;
border: none;
padding: 12px 30px;
cursor: pointer;
box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.5);
border-radius: 15px;
display: block;
margin: 0 auto;
width: 130px;
text-decoration: none;
}

.modal-footer {
text-align: center;
padding: 20px;
}

a.nav-link span {
color: #000000;
font-size: 38px;
}

a.nav-link {
color: #000000;
font-size: 18px;
}


span.font-lg {
font-size: 18px;
color: #333333;
font-weight: bold;
text-transform: uppercase;
font-family: Arial, Helvetica, sans-serif;
}

a.btn.default {
background-color: rgb(237, 230, 230);
}

div.col-lg-2 {
padding: 10px;
}

div.modal-dialog-header h3 {
font-size: 23px;
}

div.modal-dialog-body {
color: rgb(16, 94, 184);
}

#modal-dialog-container.show-modal #modal2 {
top: 125px;

}

div.modal-dialog-body {
padding: 30px 20px;

}

div.modal-dialog-body h3,
h4 {
padding: 8px;
}

div.modal-dialog-body h3 {
font-size: 23px;
font-weight: bold;
}

div.modal-dialog-body h4 {
font-size: 17px;
}

div.modal-dialog-footer {
padding: 30px;
}


.modal-demo2-v{
animation: modalbuyss ease 0.5s;
}
/* @keyframes modalbuyss{
    from{
        opacity: 0;
        transform: translateX(100px);
    }to{
        opacity: 2;
        transform: translateY(0);
    }
} */
.dat-ve.open{
display: flex;
}
.dat-ve{
display: none;
}